*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Poppins", serif;
}
/* HEADER */
.intestazione{
    height: 80px;
}
h1{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;  
    font-size: 50px;
    display:inline-block;
    }
.valign{
    vertical-align: middle;
}      
/* MAIN */
.lightgrey{
    background-color: #f6f8fa;
    padding: 40px 80px 8px;
    
}
#container{
    width: 500px auto;
    margin: 0 auto;
}
.bluebutton{
    background-color: #47abe9;
    display: inline-block;
    padding: 6px 9px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.marginpage{
    margin-top: 12px;
    margin-left: 50px;
}
.whitebutton{
    background-color: #fff;
    display: inline-block;
    padding: 6px 9px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    color: lightgrey;
    font-size: 12px;
    font-weight: 400;
}
.topmarginpage{
    margin-top: 40px;
}
/*LISTA*/
.listnone{
    list-style-type: none;
}
.fonttitlelist{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
.symbols{
    display: inline-block;
    padding:5px;
}
.flag{
    display: inline-block;
    color: #9cbfb3;
    border: 1px;
    border-style: solid;
    border-color: #9cbfb3;
    border-radius: 50%;
    font-size: 15px;
    width: 23px;
    height: 23px;
    text-align: center;
    margin-right: 12px;
}
#buttonlist{
    border-radius: 34%;
    width: 67px;
    height: 30px;
    margin-left: 5px;
}
.margintoplist{
    margin-top: 20px;
}